In [58]:
import pandas as pd
from meteostat import Stations, Point, Monthly
from datetime import datetime
import time
import numpy as np

import warnings
warnings.filterwarnings("ignore")

In [59]:
df = pd.read_csv("ficheros/03-areas_country.csv", index_col=0)
df.head()

,latitude,longitude,town,region,country,price,water,wc,grey_water
0,39.06956,-0.40980,Carcaixent,Comunitat Valenciana,España,Free,yes,yes,yes
1,42.64159,-8.89696,Boiro,Galicia,España,Free,yes,yes,unknown
2,42.90715,0.35921,Arreau,Occitanie,France,Paying,yes,no,yes
3,38.39479,-0.41007,el Campello,Comunitat Valenciana,España,Paying,yes,yes,unknown
4,43.37179,-8.44443,A Coruña,Galicia,España,Free,yes,yes,unknown

In [60]:
def weather_month(dataf):

    data_list = []
    for ind, row in dataf.iterrows():
        lat = row["latitude"]
        lon = row["longitude"]
        city = row["town"]
        country = row["country"]

        stations = Stations()
        stations = stations.nearby(lat,lon)
        station = stations.fetch(1)
        station_name = station.index[0]

        start = datetime(2012, 1, 1)
        end = datetime(2022, 12, 31)

        data = Monthly(station_name, start, end)
        data = data.fetch()
        data.reset_index(inplace=True)

        average_temp_month = data[["tavg"]].T
        df_temp = average_temp_month.reset_index(drop= True)
        
        #df_temp["latitude"] = lat
        #df_temp["longitude"] = lon
        #df_temp["town"] = city
        #df_temp["country"] = country
        data_list.append(df_temp)
        
    dat = pd.concat(data_list, axis=0, ignore_index= True)

    return dat

In [61]:
df_weather = weather_month(df)

In [26]:
df_weather.head(1)

,0,1,2,3,4,5,6,7,8,9,...,122,123,124,125,126,127,128,129,130,131
0,12.5,9.8,13.7,16.9,20.5,24.4,25.9,27.4,23.6,20.0,...,12.9,14.2,NaN,24.5,26.8,27.8,23.9,19.9,16.3,13.6

In [62]:
dict_meses = {"Jan": [], "Feb": [], "Mar": [], "Apr": [], "May": [], "Jun": [],
        "Jul": [], "Aug": [], "Sep": [], "Oct": [], "Nov": [], "Dic": []}

In [63]:
df_weather1 = pd.DataFrame(df_weather.iloc[0]).T
df_weather1

,0,1,2,3,4,5,6,7,8,9,...,122,123,124,125,126,127,128,129,130,131
0,12.5,9.8,13.7,16.9,20.5,24.4,25.9,27.4,23.6,20.0,...,12.9,14.2,NaN,24.5,26.8,27.8,23.9,19.9,16.3,13.6

In [54]:
df_weather1[124] is not np.nan

True

In [64]:
for i in df_weather1.columns:

    if i//12 == 0:
        try:
            dict_meses["Jan"].append(int(df_weather1[i]))
        except:
            dict_meses["Jan"].append(0)
    elif (i+1)//12 == 0:
        dict_meses["Feb"].append(df_weather1[i])
    elif (i+2)//12 == 0:
        dict_meses["Mar"].append(df_weather1[i])
    elif (i+3)//12 == 0:
        dict_meses["Apr"].append(df_weather1[i])
    elif (i+4)//12 == 0:
        dict_meses["May"].append(df_weather1[i])
    elif (i+5)//12 == 0:
        dict_meses["Jun"].append(df_weather1[i])
    elif (i+6)//12 == 0:
        dict_meses["Jul"].append(df_weather1[i])
    elif (i+7)//12 == 0:
        dict_meses["Aug"].append(df_weather1[i])
    elif (i+8)//12 == 0:
        dict_meses["Sep"].append(df_weather1[i])
    elif (i+9)//12 == 0:
        dict_meses["Oct"].append(df_weather1[i])
    elif (i+10)//12 == 0:
        dict_meses["Nov"].append(df_weather1[i])
    elif (i+11)//12 == 0:
        dict_meses["Dic"].append(df_weather1[i])

In [68]:
(dict_meses["Jan"])

[12, 9, 13, 16, 20, 24, 25, 27, 23, 20, 15, 0]

In [ ]:
for i in df_weather.columns:
    if i in [0,12,24,36,48,60,72,84,96,108,120]:
        dict["Jan"].append(df_weather[i])
    elif i in [1,13,25,37,49,61,73,85,97,109,121]:
        dict["Jan"].append(df_weather[i])
    elif i in [2,14,26,38,50,62,74,86,98,110,122]:
        dict["Jan"].append(df_weather[i])

In [23]:
df_weather.head()

,0,1,2,3,4,5,6,7,8,9,...,266,267,268,269,270,271,272,273,274,275
0,9.7,14.7,14.8,17.1,20.5,23.2,25.9,25.9,23.6,19.5,...,12.9,14.2,NaN,24.5,26.8,27.8,23.9,19.9,16.3,13.6
1,8.3,11.5,13.5,11.4,16.2,19.4,19.5,19.8,18.0,13.9,...,12.1,12.7,17.8,18.0,23.0,21.0,18.9,17.3,12.8,12.0
2,3.3,8.5,8.1,10.5,15.7,18.2,18.4,19.2,17.1,12.4,...,10.8,17.6,20.2,22.3,23.1,18.6,17.9,10.2,7.9,NaN
3,9.4,14.1,14.4,17.2,20.7,23.3,25.4,26.1,23.4,19.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9.6,12.2,12.6,12.0,15.8,18.7,19.0,19.6,18.6,15.0,...,12.3,12.8,16.6,17.7,19.9,19.6,19.1,17.9,14.6,13.1

In [22]:
for i in df_weather.columns:
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275

In [7]:
lista_col = {0: "Jan", 1: "Feb", 2: "Mar", 3: "Apr", 4: "May", 5: "Jun",
            6: "Jul", 7: "Aug", 8: "Sep", 9: "Oct", 10: "Nov", 11: "Dec"}

In [8]:
df_weather.rename(columns=lista_col, inplace= True)
df_weather.head(2)

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,...,150,151,152,153,154,155,latitude,longitude,town,country
0,11.0,11.9,13.0,15.8,18.9,22.4,26.4,26.5,23.5,18.7,...,26.8,27.8,23.9,19.9,16.3,13.6,39.06956,-0.40980,Carcaixent,España
1,8.9,9.2,11.1,14.9,15.8,18.8,21.6,22.0,19.0,15.2,...,23.0,21.0,18.9,17.3,12.8,12.0,42.64159,-8.89696,Boiro,España

In [17]:
df_weather.shape

(913, 280)

In [9]:
df_weather.isnull().sum()

Jan           75
Feb           68
Mar           70
Apr           71
May           67
            ...
155          542
latitude       0
longitude      0
town           0
country        0
Length: 160, dtype: int64

In [8]:
df_weather[df_weather["Dec"].isnull()]

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,latitude,longitude,town,country
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.28586,4.50299,Brasschaat,België / Belgique / Belgien
11,4.4,7.4,11.4,17.2,19.8,22.7,23.1,17.0,16.2,9.8,5.6,NaN,47.06500,0.31783,Champigny-sur-Veude,France
12,2.9,7.4,12.0,18.8,21.4,23.9,24.5,18.4,18.2,NaN,NaN,NaN,45.05802,1.65895,Collonges-la-Rouge,France
14,2.9,7.4,12.0,18.8,21.4,23.9,24.5,18.4,18.2,NaN,NaN,NaN,45.05397,1.58078,Turenne,France
15,3.6,5.6,5.3,8.4,16.3,20.6,20.7,21.2,14.2,NaN,NaN,NaN,51.04677,13.74581,Dresden,Deutschland
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
901,3.6,6.7,10.0,17.4,22.3,24.9,22.2,17.6,14.9,8.2,NaN,NaN,42.46602,1.49422,Sant Julià de Lòria,Andorra
903,7.3,9.4,11.8,18.6,20.8,21.2,18.3,17.7,14.1,8.1,NaN,NaN,46.35049,-1.43666,La Tranche-sur-Mer,France
905,3.0,6.9,9.0,11.1,17.9,20.8,22.3,22.2,16.6,17.6,NaN,NaN,45.86873,3.48255,Thiers,France
907,5.9,10.1,13.4,19.9,25.6,28.3,26.5,21.4,18.2,12.1,9.2,NaN,43.78299,6.44211,Trigance,France
911,3.0,7.4,12.2,19.4,23.4,24.8,24.5,18.3,17.3,10.0,NaN,NaN,44.89777,5.36963,Vassieux-en-Vercors,France

In [9]:
df_weather[df_weather.isnull().any(axis= 1)]

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,latitude,longitude,town,country
0,10.4,12.8,12.9,14.2,NaN,24.5,26.8,27.8,23.9,19.9,16.3,13.6,39.06956,-0.40980,Carcaixent,España
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.28586,4.50299,Brasschaat,België / Belgique / Belgien
11,4.4,7.4,11.4,17.2,19.8,22.7,23.1,17.0,16.2,9.8,5.6,NaN,47.06500,0.31783,Champigny-sur-Veude,France
12,2.9,7.4,12.0,18.8,21.4,23.9,24.5,18.4,18.2,NaN,NaN,NaN,45.05802,1.65895,Collonges-la-Rouge,France
14,2.9,7.4,12.0,18.8,21.4,23.9,24.5,18.4,18.2,NaN,NaN,NaN,45.05397,1.58078,Turenne,France
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
901,3.6,6.7,10.0,17.4,22.3,24.9,22.2,17.6,14.9,8.2,NaN,NaN,42.46602,1.49422,Sant Julià de Lòria,Andorra
903,7.3,9.4,11.8,18.6,20.8,21.2,18.3,17.7,14.1,8.1,NaN,NaN,46.35049,-1.43666,La Tranche-sur-Mer,France
905,3.0,6.9,9.0,11.1,17.9,20.8,22.3,22.2,16.6,17.6,NaN,NaN,45.86873,3.48255,Thiers,France
907,5.9,10.1,13.4,19.9,25.6,28.3,26.5,21.4,18.2,12.1,9.2,NaN,43.78299,6.44211,Trigance,France
911,3.0,7.4,12.2,19.4,23.4,24.8,24.5,18.3,17.3,10.0,NaN,NaN,44.89777,5.36963,Vassieux-en-Vercors,France

In [15]:
df_null = df_weather[df_weather.loc[:,:].isnull().all(axis=1)]

In [16]:
df_null

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]
Index: []

[0 rows x 280 columns]

In [11]:
lista_indices = df_null.index.tolist()

In [12]:
df_weather.to_csv("ficheros/04-weather_coordinates.csv")

In [13]:
df_wea2 = df_weather.copy()

In [14]:
df_wea2.drop(lista_indices, axis= 0, inplace= True)

In [15]:
df_weather.shape

(913, 16)

In [16]:
df_wea2.shape

(863, 16)

In [17]:
df_wea2.isnull().sum()*100/df_wea2.shape[0]

Jan           0.000000
Feb           0.000000
Mar           3.128621
Apr           0.347625
May           0.926999
Jun           0.695249
Jul           1.274623
Aug           1.738123
Sep           3.939745
Oct           6.141367
Nov          24.217845
Dec          51.796060
latitude      0.000000
longitude     0.000000
town          0.000000
country       0.000000
dtype: float64

In [18]:
df_wea2.reset_index(drop=True, inplace= True)

In [19]:
df_wea2.to_csv("ficheros/05-weather_coord_menos.csv")