### Libraries

In [1]:
import pandas as pd
import requests
import support_country as sc

---
**Objective**: Extract information from an API that gives address from coordinates
---

In [2]:
# Open the csv created in the 01-camper_area notebook
df = pd.read_csv("../files/02-areas_clean.csv", index_col=0)
df.head()

   latitude  longitude   price water   wc grey_water
0  39.06956   -0.40980    Free   yes  yes        yes
1  42.64159   -8.89696    Free   yes  yes    unknown
2  42.90715    0.35921  Paying   yes   no        yes
3  38.39479   -0.41007  Paying   yes  yes    unknown
4  43.37179   -8.44443    Free   yes  yes    unknown

Create columns for "town", "region" and "country" calling the functions in support_country.py

In [3]:

df["town"] = df.apply(lambda city: sc.location(city["latitude"], city["longitude"]), axis= 1)

In [4]:
df["region"] = df.apply(lambda county: sc.region(county["latitude"], county["longitude"]), axis= 1)

In [6]:
df["country"] = df.apply(lambda pais: sc.country(pais["latitude"], pais["longitude"]), axis= 1)

In [7]:
df.head()

,latitude,longitude,price,water,wc,grey_water,town,region,country
0,39.06956,-0.40980,Free,yes,yes,yes,Carcaixent,Comunitat Valenciana,España
1,42.64159,-8.89696,Free,yes,yes,unknown,Boiro,Galicia,España
2,42.90715,0.35921,Paying,yes,no,yes,Arreau,Occitanie,France
3,38.39479,-0.41007,Paying,yes,yes,unknown,el Campello,Comunitat Valenciana,España
4,43.37179,-8.44443,Free,yes,yes,unknown,A Coruña,Galicia,España

In [8]:
# Reorder columns
df = df.reindex(columns=["latitude", "longitude", "town", "region", "country", "price", "water", "wc", "grey_water"])
df.head(2)

,latitude,longitude,town,region,country,price,water,wc,grey_water
0,39.06956,-0.40980,Carcaixent,Comunitat Valenciana,España,Free,yes,yes,yes
1,42.64159,-8.89696,Boiro,Galicia,España,Free,yes,yes,unknown

In [9]:
df.isnull().sum()

latitude      0
longitude     0
town          0
region        0
country       0
price         0
water         0
wc            0
grey_water    0
dtype: int64

In [10]:
# Save the dataframe in a new file
df.to_csv("../files/03-areas_country.csv")