In [1]:
import requests
import pandas as pd
import time

import os
from dotenv import load_dotenv
load_dotenv()

True

### Using the Foursquare API

In [2]:
api_key = os.getenv("Foursquare_key")

In [3]:
# Open the areas csv
df = pd.read_csv("../files/03-areas_country.csv", index_col= 0)
df.head(2)

,latitude,longitude,town,region,country,price,water,wc,grey_water
0,39.06956,-0.40980,Carcaixent,Comunitat Valenciana,España,Free,yes,yes,yes
1,42.64159,-8.89696,Boiro,Galicia,España,Free,yes,yes,unknown

In [22]:
def foursq(coord):
    # Call the API to show supermarkets near an area
    url = "https://api.foursquare.com/v3/places/search"

    params = {"query": "supermarket",
  	        "ll": coord,
            "radius": 10000,
  	        "sort":"DISTANCE"}

    headers = {"Accept": "application/json",
            "Authorization": api_key}

    response = requests.request("GET", url, params=params, headers=headers)
    dict = response.json()
    dic2 = dict["results"]
    num = len(dict["results"])

    if num > 0:
        supermarket = {"name":[],
                        "direction": [],
                        "town": [],
                        "region": []}
        
        for sup in range(len(dic2)):
                supermarket["name"].append(dic2[sup]["name"])
                supermarket["direction"].append(dic2[sup]["location"]["address"])
                supermarket["town"].append(dic2[sup]["location"]["locality"])
                supermarket["region"].append(dic2[sup]["location"]["region"])

        df_super = pd.DataFrame(supermarket)
        return df_super
    
    else:
        return "Impossible to find"

In [19]:
df.sample(4)

,latitude,longitude,town,region,country,price,water,wc,grey_water
30,44.15179,1.75121,Saint-Antonin-Noble-Val,Occitanie,France,Free,yes,no,unknown
449,41.56393,9.33596,Porto-Vecchio,Corse,France,Paying,yes,no,unknown
349,43.21760,-3.43927,Lanestosa,Euskadi,España,Paying,yes,yes,yes
804,52.48906,5.06037,Volendam,Noord-Holland,Nederland,Paying,yes,no,yes

In [25]:
coord1 = "44.15179,1.75121"
coord2 = "41.56393,9.33596"
coord3 = "43.21760,-3.43927"
coord4 = "52.48906,5.06037"

In [23]:
foursq(coord1)

,name,direction,town,region
0,Carrefour Contact,115 chemin Fontales,Saint Antonin Noble Val,Tarn-et-Garonne
1,Carrefour Express,Côte de la Rodaneze,Saint Antonin Noble Val,Tarn-et-Garonne

In [24]:
foursq(coord2)

           name         direction           town   region
0  Géant Casino  avenue de Bastia  Porto-Vecchio  Corsica
1       Super U           17 T 10  Porto-Vecchio  Corsica

In [26]:
foursq(coord3)

'Impossible to find'

In [27]:
foursq(coord4)

KeyError: 'address'