In [1]:
import pandas as pd
import mysql.connector
import db_support as db

In [ ]:
area = db.Database_SQL("motorhome_area", "AlumnaAdalab")

In [ ]:
area.create_bbdd()

In [2]:
df= pd.read_csv("../files/03-areas_country.csv", index_col= 0)
df.head()

,latitude,longitude,town,region,country,price,water,wc,grey_water
0,39.06956,-0.40980,Carcaixent,Comunitat Valenciana,España,Free,yes,yes,yes
1,42.64159,-8.89696,Boiro,Galicia,España,Free,yes,yes,unknown
2,42.90715,0.35921,Arreau,Occitanie,France,Paying,yes,no,yes
3,38.39479,-0.41007,el Campello,Comunitat Valenciana,España,Paying,yes,yes,unknown
4,43.37179,-8.44443,A Coruña,Galicia,España,Free,yes,yes,unknown

In [6]:
df2.town.value_counts()

Encamp                  3
Thann                   2
Campan                  2
Roma                    2
Ljubljana               2
                       ..
Jumièges                1
Kalmar                  1
Karlskrona              1
Kaysersberg-Vignoble    1
Cúllar                  1
Name: town, Length: 887, dtype: int64

In [3]:
df2 = pd.read_csv("../files/04-average-temperature.csv", index_col=0)
df2.head()

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,latitude,longitude,town,country
0,11.30,12.66,13.59,15.29,19.32,23.25,26.31,26.63,23.66,19.62,14.99,12.99,39.06956,-0.40980,Carcaixent,España
1,9.67,10.48,12.25,14.01,16.56,19.19,20.99,20.97,19.41,16.36,12.17,10.40,42.64159,-8.89696,Boiro,España
2,5.22,6.17,8.84,11.27,14.62,18.40,19.91,19.96,17.30,13.86,8.55,6.17,42.90715,0.35921,Arreau,France
3,11.41,12.96,14.20,16.21,20.07,23.99,26.89,26.89,24.03,19.88,15.27,12.87,38.39479,-0.41007,el Campello,España
4,10.81,10.98,12.04,13.02,15.09,17.34,18.92,19.42,18.53,16.41,13.11,11.68,43.37179,-8.44443,A Coruña,España

In [ ]:
area_table = '''
CREATE TABLE IF NOT EXISTS `area` (
  `id_area` INT NOT NULL AUTO_INCREMENT,
  `latitude` DECIMAL NOT NULL,
  `longitude` DECIMAL NOT NULL,
  `town` VARCHAR (200) NOT NULL,
  `region` VARCHAR (200) NOT NULL,
  `country` VARCHAR (45) NOT NULL,
  `price` VARCHAR (45) NOT NULL,
  `water` VARCHAR (45) NOT NULL,
  `wc` VARCHAR (45) NOT NULL,
  `grey_water` VARCHAR (45) NOT NULL,
  PRIMARY KEY (`id_area`))
  ;'''

In [ ]:
temperature_table = '''
CREATE TABLE IF NOT EXISTS `avg_temperature` (
    `id_temp` INT NOT NULL AUTO_INCREMENT,
    `Jan` DECIMAL NOT NULL,
    `Feb` DECIMAL NOT NULL,
    `Mar` DECIMAL NOT NULL,
    `Apr` DECIMAL NOT NULL,
    `May` DECIMAL NOT NULL,
    `Jun` DECIMAL NOT NULL,
    `Jul` DECIMAL NOT NULL,
    `Aug` DECIMAL NOT NULL,
    `Sep` DECIMAL NOT NULL,
    `Oct` DECIMAL NOT NULL,
    `Nov` DECIMAL NOT NULL,
    `Dec` DECIMAL NOT NULL,
    `latitude` DECIMAL NOT NULL,
    `longitude` DECIMAL NOT NULL,
    `town` VARCHAR (200) NOT NULL,
    `country` VARCHAR (45) NOT NULL,
    PRIMARY KEY (`id_temp`),
    INDEX `fk_area_temperature_idx` (`id_area` ASC) ,
    CONSTRAINT `fk_ataques_paises` 
        FOREIGN KEY (`id_country`) 
        REFERENCES `paises`(`id_country`)
  )
  ;'''